body {
        background-color: beige;
}
h1 {
        color: purple;
}
p {
        background-color: beige; 
        color: brown;
}
#team {
        color : gray;
}
#f2p_moment{
        color : black;
}
#foot_fetish{
        color : red;
}
#lmfao {
        color : blueviolet;
}
.kokopium{
        background-color: purple;
}
.naurrr {
        background-color: pink;
}